.thumbnail{
  height: 220px;
  display: block;
  min-width: 150px;
  img{
    object-fit: cover;
    height: 100%;
  }
}

@media screen and (max-width:767px) {
  .thumbnail{
    height: 150px;
  }
}

.article{
  cursor: pointer;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure{
  position: relative
}
.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #000;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.article:hover{
  box-shadow: 2px 5px 13px #dddddd;
  border-radius: 10px;
}

.article:hover .snip1577 img,
.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.3;
  filter: brightness(0.5);
}

.article:hover .snip1577:before,
.snip1577:hover:before,
.article:hover .snip1577.hover:before,
.snip1577.hover:before,
.article:hover .snip1577.hover:before,
.article:hover .snip1577:after,
.snip1577:hover:after,
.article:hover .snip1577.hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.article:hover .snip1577:before,
.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.article:hover .snip1577:after,
.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.article:hover .snip1577 h3,
.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.article:hover .snip1577 h3,
.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.article:hover .snip1577 h4,
.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.link{
  &::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
  }
}
