<form class="flex flex-wrap flex-row -mx-4">
  <!-- First Name Input -->

  <div class="w-full py-3 mb-6">
    <h2 class="text-gray-800 text-3xl font-bold">
      <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span> Contact Us
    </h2>
  </div>

  <div class="flex-shrink max-w-full px-4 w-full md:w-1/2 mb-6">
    <label for="inputfirst4" class="inline-block mb-2">First name</label>
    <input type="text" [(ngModel)]="firstName" name="firstName" class="w-full leading-5 relative py-3 px-5 text-gray-800 bg-white border border-gray-100 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" id="inputfirst4" required>
  </div>

  <!-- Last Name Input -->
  <div class="flex-shrink max-w-full px-4 w-full md:w-1/2 mb-6">
    <label for="inputlast4" class="inline-block mb-2">Last name</label>
    <input type="text" [(ngModel)]="lastName" name="lastName" class="w-full leading-5 relative py-3 px-5 text-gray-800 bg-white border border-gray-100 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" id="inputlast4" required>
  </div>

  <!-- Subject Input (Auto-filled with Merged Name) -->
  <div class="flex-shrink max-w-full px-4 w-full md:w-full mb-6">
    <label for="inpuemail4" class="inline-block mb-2">Subject</label>
    <input type="text" [(ngModel)]="subject" name="subject" class="w-full leading-5 relative py-3 px-5 text-gray-800 bg-white border border-gray-100 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" id="inpuemail4" required>
  </div>

  <!-- Message Input -->
  <div class="flex-shrink max-w-full px-4 w-full mb-6">
    <label for="exampleTextarea1" class="inline-block mb-2">Messages</label>
    <textarea [(ngModel)]="body" name="body" class="w-full leading-5 relative py-3 px-5 text-gray-800 bg-white border border-gray-100 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600" id="exampleTextarea1" rows="3"></textarea>
  </div>

  <!-- Send Email Button -->
  <div class="flex-shrink max-w-full px-4 w-full mb-6">
    <button (click)="sendEmail()" class="px-5 py-3 bg-gray-800 text-white">Send Email</button>
  </div>
</form>
