<main class="main">
  <!-- <div #sampleDiv class="px-6 py-4" data-sampel="ini adalah data sample">
    <button (click)="navigateToPage('home')" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Home
    </button>
    <button (click)="navigateToPage('account')" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Account
    </button>
    <button (click)="navigateToPage('account/detail/51')" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Account Detail
    </button>
    <a routerLink="/account/detail/51">Goto Account</a>
  </div> -->
  <app-header />

  <div class="mx-auto w-full my-4">
    <router-outlet />
  </div>

  <app-footer />
</main>

